APP_NAME=DbzRetro.LT
APP_DEBUG=true

DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

WAP_GAMES_API_KEY=your_api_key_from_wapgames.lt
WAP_GAMES_SITE_UUID=your_site_uuid_from_wapgames.lt

DISCORD_WEBHOOK_URL=
DISCORD_USERNAME=username

GOOGLE_CAPTCHA_SECRET=
GOOGLE_CAPTCHA_SITE_KEY=