
body{

	
	    color: black;
		margin: auto;
		font-family: Verdana, Arial, Helvetica, sans-serif;
        background-color: #0b1207;
		max-width: 600px;
	    _width: 600px;
	
	}
	
	.in{
	
	    color: black;
		margin: 0;
		margin-top: 4px;
		padding: 0;
        background-color: #f0bf9b;
		border-style: solid;
		border-width: 0px 12px;
		-moz-border-image: url(img/dz/in_bg.png) 0 12 repeat;

		-webkit-border-image: url(img/dz/in_bg.png) 0 12 repeat;

		-o-border-image: url(img/dz/in_bg.png) 0 12 repeat;

		border-image: url(img/dz/in_bg.png) 0 12 repeat;

	
	}
	
	.meniu, .meniuc , .titlec{
	
        background-color: #141111;
		background-image: url(img/dz/bgb.png);

        padding: 1px;
		margin: -1px;
		text-align: center;
		color: #908787;
		font-size: 14px;
		border-style: solid;
		border-width: 12px 0px;
		-moz-border-image: url(img/dz/block_bg.png) 12 0 repeat;

		-webkit-border-image: url(img/dz/block_bg.png) 12 0 repeat;

		-o-border-image: url(img/dz/block_bg.png) 12 0 repeat;

		border-image: url(img/dz/block_bg.png) 12 0 repeat;

	
    }
	
    .line{
	
        background-color: #ffffff; 
        background-repeat: repeat-x;
        background-position: bottom left;
        padding-top: 2px;
		margin: 0px 0px 0px 0px;
	
    }

	.text-center {
		text-align: center;
	}

    .meniau{
	
		color: #000000;
        margin: 1px 0px 1px 0px;
		padding: 4px;
        font-size: 12px;
        text-align: left;
        background-color: #fff5cb;
	
    }
	
	.pap{
	
		color: #ffffff;
        margin-top: -1px;
		margin-top: -1px;
		padding: 0px;
        font-size: 12px;
        text-align: left;
        background-color: #ccad73;
		border-style: solid;
		border-width: 23px 17px 18px;
		-moz-border-image: url(img/dz/bg_pap2.png) 23 17 18 repeat;

		-webkit-border-image: url(img/dz/bg_pap2.png) 23 17 18 repeat;

		-o-border-image: url(img/dz/bg_pap2.png) 23 17 18 repeat;

		border-image: url(img/dz/bg_pap2.png) 23 17 18 repeat;

	
    }
	
	.btn1{
	
		height: 24px;
		display: inline-block;
		background-image: url(img/dz/btn.png);

		background-repeat: no-repeat;
		background-position: 0 -24px;
		padding: 2px;
		text-decoration: none;
	
	}
	
	.btn2{
	
		height: 24px;
		display: block;
		background-image: url(img/dz/btn.png);

		background-repeat: no-repeat;
		background-position: 100% -52px;
	
	}
	
	.btn3{
	
		font-size: 12px;
		color: #ffffff;
		height: 19px;
		text-shadow: #000 0 0 0;
		display: block;
		background-image: url(img/dz/btn.png);

		background-repeat: repeat-x;
		background-color: #40414a;
		margin: 0px 2px 0 2px;
		padding: 5px 25px 0;
	
	}
	
	img.ico{
	
	    vertical-align: middle;
	
	}
	
	.center {
	
	    text-align: center;
	
	}
	
	ul,li{
	
	    margin: 0 0 0 10px;
	    padding: 0px;
	
	}
	
    .raudona{color: #ff0000;}
    .raudona2{color: #ed2e2e;}
    .melyna{color: #0000ff;}
    .zalia{color: #168a07;}
    .geltona{color: #bfb513;}
    .pilka{color: #959090;}
    .oaze{color: #b743a2;}
    .plus_g{color: #53831a;}
    .plus_o{color: #d52603;}
	
    a{
	
	    color: #4e5d44;
		text-decoration: underline;
	
	}
	
	a.cc{
	
	    color: #fff5cb;
		text-decoration: underline;
	
	}
	
	input, select, textarea {
	
	    margin: 2px;
	
	}
	
	form {
	
	    margin: 0px;
	
	}
	
	b {
	
	    color: #000000;
	
	}
	
    a:hover {
	
	    color: #ffffff;
		text-decoration: underline;
	
	}
</style>
"; 
?> 
